{% extends "crm/base.html" %}

{% load i18n %}

{% block title %}{% translate "Lesson" %}: {{ client_subscription }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h1 class="h5">{{ client_subscription }}</h1>
        </div>
    </div>
    {% include "lesson/includes/form.html" with form=place_date_form %}

    {% if time_form %}
    <div class="row mt-3">
        <div class="col">
            <h2 class="h5">{{ place.name }} {{ date|date:"d.m" }}</h2>
        </div>
    </div>
    {% include "lesson/includes/form.html" with form=time_form %}
    {% endif %}

    {% if classroom_form %}
    <div class="row mt-3">
        <div class="col">
            <h3 class="h5">{{ date_hour }}:00</h3>
        </div>
    </div>
    {% include "lesson/includes/form.html" with form=classroom_form %}
    {% endif %}
</div>
{% endblock %}
