{% extends "crm/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% translate "Lessons" %}{% endblock %}

{% block h1 %}{% translate "Lessons" %} {{ client_subscription }}{% endblock %}

{% block content %}
{% if lessons %}
<ul>
    {% for l in lessons %}
    <li>
        {{ l }}
        {% if l.is_passed %}
        <ul>
            {% for lc in l.lessoncomment_set.all %}
            <li>{{ lc }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <a href="{% url 'crm-pass-lesson' l.id %}">{% translate "Pass" %}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<h5 class="text-center">{% translate 'No lessons' %}</h5>
{% endif %}

{% if client_subscription.can_create_lesson %}
<p class="text-center">
    <a href="{% url 'crm-create-lesson' client_subscription.id %}">{% translate "Create" %}</a>
</p>
{% endif %}
{% endblock %}
