{% extends "crm/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% translate "Client Subscriptions" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% translate "Client Subscriptions" %}</h1>
    <ul>
        {% for cs in client_subscriptions %}
        <li>
            {{ cs.created_at }}: <a href="{% url 'crm-subscription-lessons' cs.id %}">{{ cs }}</a>
            <br>
            {% translate "Lessons" %}: {{ cs.lesson_set.count }} / {{ cs.subscription.lessons_qty }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
