<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
    <style>
        .row-date {
            background-color: #0da1c6;
            font-weight: bold;
            border: 2px #0a0b4e;
        }
    </style>
    {% block style %}{% endblock %}

    {% load i18n %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block content %}{% endblock %}

<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>

{% block data %}{% endblock %}
{% block script %}{% endblock %}
</body>
</html>