{% extends "crm/base.html" %}

{% load i18n %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
{% endblock %}

{% block title %}{% translate month_name %} {{ year }} {% translate "Schedule" %}{% endblock %}

{% block h1 %}{% translate month_name %} {{ year }} {% translate "Schedule" %}{% endblock %}

{% block content %}
<form id="form">
    {% translate 'Month' %}:
    <label>
        <select name="month">
            {% for m in months %}
                <!-- {% cycle 1 2 3 4 5 6 7 8 9 10 11 12 as mi %} -->
                <option value="{{ mi }}" {% if mi == month %} selected {% endif %}>{% translate m %}</option>
            {% endfor %}
        </select>
    </label>
    {% translate 'Year' %}:
    <label>
        <select name="year">
            {% for y in years %}
                <option value="{{ y }}" {% if y == year %} selected {% endif %}>{{ y }}</option>
            {% endfor %}
        </select>
    </label>
    <input type="submit" value="{% translate 'Go' %}">
</form>

<table id="table" class="table-sm">
    <thead>
    <tr>
        <th data-halign="center" rowspan="3">{% translate "Time" %}</th>
        {% for d in weekDays %}
            <th data-halign="center" colspan="{{ classrooms.count|add:classrooms.count|add:1 }}">
                {% translate d %}
            </th>
        {% endfor %}
    </tr>
    <tr>
        {% for d in weekDays %}
            <!-- {% cycle 1 2 3 4 5 6 7 as di %} -->
            <th rowspan="2">&nbsp;</th>
            {% for p in places %}
                <th data-halign="center" colspan="{{ p.classroom_set.count|add:p.classroom_set.count }}">
                    {{ p.name }}
                </th>
            {% endfor %}
        {% endfor %}
    </tr>
    <tr>
        {% for d in weekDays %}
            <!-- {% cycle 1 2 3 4 5 6 7 as di %} -->
            {% for p in places %}
                {% for cr in p.classroom_set.all %}
                    <th colspan="2">
                        {{ cr.name }}
                    </th>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </tr>
    <tr>
        <th data-halign="center" data-field="time">&nbsp;</th>
        {% for d in weekDays %}
            <!-- {% cycle 1 2 3 4 5 6 7 as di %} -->
            <th data-field="d_{{ di }}" data-align="center">&nbsp;</th>
            {% for p in places %}
                {% for cr in p.classroom_set.all %}
                    <th data-field="dp_{{ di }}_{{ p.id }}_{{ cr.id }}_t">
                        {% translate "Teacher" %}
                    </th>
                    <th data-field="dp_{{ di }}_{{ p.id }}_{{ cr.id }}_c">
                        {% translate "Client" %}
                    </th>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </tr>
    </thead>
</table>
{% endblock %}

{% block data %}{{ data|json_script:"data" }}{% endblock %}

{% block script %}
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script>
    const classrooms_qty = {{ classrooms.count }}
    const $table = $('#table')
    const $form = $('#form')

    $(function () {
        const data = JSON.parse(document.getElementById('data').textContent)

        $table.bootstrapTable({
            data,
            undefinedText: '',
            height: $(document).height() - $('body').offset().top - $form.height(),
            {#stickyHeader: true,#}
            {#stickyHeaderOffsetLeft: parseInt($('body').css('padding-left'), 10),#}
            {#stickyHeaderOffsetRight: parseInt($('body').css('padding-right'), 10),#}
            {#fixedColumns: true,#}
            {#fixedNumber: 1,#}
            {#fixedRightNumber: 0#}
        })

        for (let r = 0; r <= 5; r++) {
            for (let d = 1; d <= 7; d++) {
                const i = r * 14

                $('tr[data-index]').eq(i).addClass('row-date')
                $table.bootstrapTable('mergeCells', {index: i, field: 'd_' + d, colspan: classrooms_qty * 2 + 1})
            }
        }

        $form.submit(function(e) {
            e.preventDefault()
            const m = $form.find('[name="month"]').first().val()
            const y = $form.find('[name="year"]').first().val()
            location.href = '/ru/crm/schedule/' + y + '/' + m + '/'
        })
    })
</script>
{% endblock %}