{% extends "crm/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% translate "Lesson reports" %}{% endblock %}

{% block h1 %}{% translate "Lesson reports" %}{% endblock %}

{% block content %}
<form action="{% url 'crm-reports' %}" method="post">
    {% csrf_token %}

    {% for field in form.visible_fields %}
    {% include "lessons/includes/field.html" with field=field %}
    {% endfor %}
    <input type="submit" value="{% translate 'Go' %}">
</form>

{% if year and month %}
<h3 class="mt-5">{{ month }}.{{ year }}</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">{% translate "Client" %}</th>
        <th scope="col">{% translate "Subscription" %}</th>
        <th scope="col">{% translate "Classroom" %}</th>
        <th scope="col">{% translate "Datetime" %}</th>
        <th scope="col">{% translate "Was absent" %}</th>
        <th scope="col">{% translate "Amount" %}</th>
    </tr>
    </thead>
    <tbody>
    {% if lessons %}
    {% for l in lessons %}
    <tr>
        <th scope="row">{{ l.id }}</th>
        <td>{{ l.client_subscription.client }}</td>
        <td>{{ l.client_subscription.subscription }}</td>
        <td>{{ l.classroom }}</td>
        <td>{{ l.datetime }}</td>
        <td>{% if l.was_absent %}+{% endif %}</td>
        <td>{{ l.teacher_amount }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr colspan="7">{% translate "No lessons" %}</tr>
    {% endif %}
    <tr>
        <th scope="row" colspan="6">{% translate "Total" %}</th>
        <td>{{ total }}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}
