{% extends "crm/base.html" %}

{% load i18n %}
{% load static %}
{% load has_group %}

{% block title %}{% translate "Client Subscriptions" %}{% endblock %}

{% block h1 %}{% translate "Client Subscriptions" %}{% endblock %}

{% block content %}
{% if request.user|has_group:"Administrator" %}
<p class="text-center">
    <a href="{% url 'crm-create-subscription' %}">{% translate "Create subscription" %}</a><br>
    <a href="{% url 'crm-create-rent' %}">{% translate "Rent" %}</a>
</p>
{% endif %}

{% if client_subscriptions %}
<ul class="list-group list-group-flush">
    {% for cs in client_subscriptions %}
    <li class="list-group-item">
        {{ cs.created_at }}: <a href="{% url 'crm-subscription-lessons' cs.id %}">{{ cs }}</a>
        <br>
        {% translate "Lessons" %} ({% translate "is passed" %} / {% translate "declared" %} / {% translate "in all" %}): {{ cs.get_passed_lessons_count }} / {{ cs.lesson_set.count }} / {{ cs.subscription.lessons_qty }}
    </li>
    {% endfor %}
</ul>
{% else %}
<h5 class="text-center">{% translate 'No subscriptions' %}</h5>
{% endif %}
{% endblock %}
