{% load i18n %}

<div class="row">
    <div class="col">
        <form action="{% url 'crm-teacher-create-lesson' client_subscription.id %}" method="post">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {% include "teacher/lessons/includes/field.html" with field=field %}
            {% endfor %}
            <input type="submit" value="{% translate 'Go' %}">
        </form>
    </div>
</div>