{% extends "crm/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% translate "Client Subscriptions" %}{% endblock %}

{% block h1 %}{% translate "Client Subscriptions" %}{% endblock %}

{% block content %}
<ul>
    {% for cs in client_subscriptions %}
    <li>
        {{ cs.created_at }}: <a href="{% url 'crm-teacher-subscription-lessons' cs.id %}">{{ cs }}</a>
        <br>
        {% translate "Lessons" %}: {{ cs.lesson_set.count }} / {{ cs.subscription.lessons_qty }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
