<!doctype html>
<html lang="ru">
{% load static %}
{% load i18n %}
{% load has_group %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block style %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Vocalkiev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'crm-schedule' %}">{% translate 'Schedule' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'crm-lessons' %}">{% translate 'Lessons' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'crm-reports' %}">{% translate 'Lesson reports' %}</a>
            </li>
            {% if request.user|has_group:"Teacher" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crm-index' %}teacher/admin/">{% translate 'Teacher Dashboard' %}</a>
                </li>
            {% endif %}
            {% if request.user|has_group:"Administrator" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crm-index' %}administrator/admin/">{% translate 'Administrator Dashboard' %}</a>
                </li>
            {% endif %}
            {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="/ru/owner/">{% translate 'Owner Dashboard' %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<main>
    <h1 class="h5 mt-3 p-3 text-center">{% block h1 %}{% endblock %}</h1>
    <div class="container mt-3">
        {% block content %}{% endblock %}
    </div>
</main>

{% block data %}{% endblock %}

<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>