{% extends "crm/base.html" %}

{% load i18n %}

{% block title %}Vocal Kiev CRM{% endblock %}

{% block content %}
<h1>Vocal Kiev CRM</h1>
<div class="d-flex justify-content-center p-5">
    {% translate "Welcome!" %}
    <ul>
        <li><a href="/ru/crm/schedule">{% translate "Schedule" %}</a></li>
        <li><a href="/ru/crm/lesson">{% translate "Lesson" %}</a></li>
        <li><a href="/ru/crm/administrator">{% translate "Administrator" %}</a></li>
        <li><a href="/ru/crm/teacher">{% translate "Teacher" %}</a></li>
    </ul>
</div>
{% endblock %}